@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


$light: #e6ffff;
$white: white;
$green: rgba(0,255,209,1);
$body-background-color: $light;

$family-sans-serif: "Nunito", sans-serif;
$font-weight: 400;

$margin-bottom: 50px;
$margin-top: 50px;


html, body {
    height: 100%;
    font-family: $body-background-color;
    font-weight: $font-weight;
    font-size: 18px !important;
    background-color: $body-background-color;
}
