<div class="note-card-container">
    <div class="note-card-content">
        <h1 class="note-card-title">Salariul brut <span>{{ salariuBrut }}</span> lei</h1>
        <h1 class="note-card-title">Salariul net <span>{{ salariuNet }}</span> lei</h1>
        <h1 class="note-card-title">Lista taxe salariu</h1>
        <div class="note-card-body">
            <h6>{{ impozitVenit }}</h6>
            <h6>{{ asigurareSociala }}</h6>
            <h6>{{ asigurareSanatate }}</h6>
        </div>
    </div>
</div>